.toolbar {
    display: flex;
    gap: 10px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid grey;
    background-color: white;
    padding: 10px;
    height: 30px;
}

.button:hover {
    border: 2px solid black;
}

.active {
    background-color: grey;
    outline: 1px solid rgb(100, 165, 166);
    color: white;
}